.cardWraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #ededed;
    transition: all 0.3s ease-in;
}

.card:hover {
    box-shadow: 0px 0px 11px #00000045;
}

.cardImg {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImg img {
    max-width: 100%;
}

.cardContent {
    padding: 20px;
    overflow: hidden;
}



.ratting {
    position: relative;
    height: 26px;
    padding: 0 10px;
    text-align: center;
    width: 126px;
    margin: 0 auto;
}

.ratting:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.ratting:not(:checked)>label {
    float: right;
    width: 25px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    color: #ccc;
}

.ratting:not(:checked)>label:before {
    content: '★ ';
}

.ratting>input:checked~label {
    color: #ffc700;
}

.ratting:not(:checked)>label:hover,
.ratting:not(:checked)>label:hover~label {
    color: #deb217;
}

.ratting>input:checked+label:hover,
.ratting>input:checked+label:hover~label,
.ratting>input:checked~label:hover,
.ratting>input:checked~label:hover~label,
.ratting>label:hover~input:checked~label {
    color: #c59b08;
}