.cardWraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #ededed;
    transition: all 0.3s ease-in;
}

.card:hover {
    box-shadow: 0px 0px 11px #00000045;
}

.cardImg {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImg img {
    max-width: 100%;
}

.cardContent {
    padding: 20px;
    overflow: hidden;
}

.homeReviewsInner .postContainer:nth-child(n+4) {
    display: none;
}

.ratting {
    position: relative;
    height: 26px;
    padding: 0 10px;
    text-align: center;
    width: 126px;
    margin: 0 auto;
}

.reviewRatting {
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.reviewRatting span {
    color: #ffc700;
    font-size: 25px;
    line-height: 25px;
}